<html>
    <head>
        <title>Welcome to: {{ sdr_pi_project_name }}</title>
    </head>
    <body>
        <h1>Welcome to: {{ sdr_pi_project_name }}</h1>
        <p>This is your landing page that will allow you quick access to some of the tooling:</p>
        <ul>
            <li><a href="/wiki">Wiki Pages</a></li>
            <li><a href="/webdav">Experiments hosted on webdav (password protected)</a></li>
            <li><a href="/websdr">OpenWebRx WebSDR</a></li>
            <li><a href="/bettercap">Bettercap for Bluetooth Enum</a></li>
        </ul>
    </body>
</html>