            "profiles": {
                "{{ 9999999999999999999999 | random | to_uuid }}": {
                    "name": "70cm Repeaters",
                    "center_freq": 438800000,
                    "rf_gain": 29,
                    "samp_rate": 2400000,
                    "start_freq": 439275000,
                    "start_mod": "nfm"
                },
                "{{ 9999999999999999999999 | random | to_uuid }}": {
                    "name": "2m",
                    "center_freq": 145000000,
                    "rf_gain": 29,
                    "samp_rate": 2048000,
                    "start_freq": 145725000,
                    "start_mod": "nfm"
                },
                "{{ 9999999999999999999999 | random | to_uuid }}": {
                    "name": "104.5Mhz",
                    "center_freq": 104500000,
                    "samp_rate": 2000000,
                    "start_freq": 104500000,
                    "start_mod": "wfm"
                },
                "{{ 9999999999999999999999 | random | to_uuid }}": {
                    "name": "20m",
                    "center_freq": 14150000,
                    "samp_rate": 384000,
                    "start_freq": 14070000,
                    "start_mod": "usb"
                },
                "{{ 9999999999999999999999 | random | to_uuid }}": {
                    "name": "30m",
                    "center_freq": 10125000,
                    "samp_rate": 192000,
                    "start_freq": 10142000,
                    "start_mod": "usb"
                },
                "{{ 9999999999999999999999 | random | to_uuid }}": {
                    "name": "40m",
                    "center_freq": 7100000,
                    "samp_rate": 256000,
                    "start_freq": 7070000,
                    "start_mod": "lsb"
                },
                "{{ 9999999999999999999999 | random | to_uuid }}": {
                    "name": "80m",
                    "center_freq": 3650000,
                    "samp_rate": 384000,
                    "start_freq": 3570000,
                    "start_mod": "lsb"
                },
                "{{ 9999999999999999999999 | random | to_uuid }}": {
                    "name": "49m Broadcast",
                    "center_freq": 6050000,
                    "samp_rate": 384000,
                    "start_freq": 6070000,
                    "start_mod": "am"
                }
            },