[
    {
        "user": "bob",
        "enabled": true,
        "must_change_password": false,
        "password": {
            "encoding": "hash",
            "value": "9f0d16c2d162e14822c2044ebd852f1a251a6df829962b485ec67b1929ff4014",
            "algorithm": "sha256",
            "salt": "f700f92df010c5ed0586852f3b853ca4b7573af1c4a961f80b39f19b86ae9aa0"
        }
    }
]