[Unit]
Description=OpenWebRX WebSDR receiver
After=soapyremote-server.service
# Wants=soapyremote-server.service
Requires=soapyremote-server.service
PartOf=soapyremote-server.service



[Service]
Type=simple
User=openwebrx
Group=openwebrx
ExecStart=/usr/bin/openwebrx
Restart=always

[Install]
WantedBy=multi-user.target soapyremote-server.service
#WantedBy=multi-user.target