[Unit]
Description=OpenWebRX WebSDR receiver
Requires=soapyremote-server.service
After=soapyremote-server.service
PartOf=soapyremote-server.service

[Service]
Type=simple
User=openwebrx
Group=openwebrx
ExecStart=/usr/bin/openwebrx
Restart=always

[Install]
WantedBy=multi-user.target soapyremote-server.service
